@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
header h1{
    background-color: white;
    display: flex;
}
html{
    overflow-x: hidden;
}

body{
    width:100%;
    height:100vh;
    overflow: auto;
    background: linear-gradient(to right, rgb(32, 32, 32),rgb(117, 117, 117));


}
nav{align-items: center;
    width:100%;
    height: 10vh;
   position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo{
    color:black;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.logo.span{
    color:rgb(140, 19, 19);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.hamburg,.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;    
    color:black;
    display: none;
    
}
.nav-container .logo span{
    color:white;
    text-shadow:0 0 5px rgb(0, 0, 0)
}
.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.nav-container .links a{
    position: relative;
    font: size 1.2rem;;
    color:black;
    text-decoration: none;
    font-weight: 500;
    text-transform: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content:"" ;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: black;
    transform: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
   
}
.nav-container .contact-btn{
    background-color:transparent;
    padding: 5px 20px;
    border-radius: 20px;
    color:white;
    border: 2px solid black;
    transition: 0.3s linear;


    
}
.nav-container .contact-btn a{
    color: white;
}   
.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: rgb(0, 0, 0);
    color:rgb(93, 92, 92);
   
}
.nav-container .links a:hover{
    color: black;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height:auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items:center;
    transition: 0.2s linear;
}   
.dropdown .links a:hover{
    background-color: black;
   

}
section{
    width: 100%;
    height: 90vh;

}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image img{
    border-radius: 50%; 
    padding: 15px; 
}
.content h1{
    font-size: clamp(1rem,2rem + 5vw, 3rem);
}

.content h1 span{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.941);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    position: relative;
    transition: 0.3s linear;

}

.typewriter span::before{
    content: " aspiring Developer ";
    animation: words 15s infinite;

}

.typewriter span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid black;
    }
}

@keyframes words {
    0%, 33%{
        content: "an aspiring Developer";

    }
     34%, 66%{
        content: "a Student";

    }
     67%, 100%{
        content: "a Photographer";

    }

       

    
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid black;
    border-radius: 50%;
    color:black;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;


}

.social-links i:hover{
    scale: 1,3;
    color: white;
    background-color: black;
    filter: drop-shadow(0 0 10px black);

}

.content button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2 linear;



}

.contact button:hover{
scale: 1.1;
color: black;
border: 2px solid black;
background-color: transparent;
font-weight: 700;
box-shadow: 0 0 40px black;



}
@media (max-width:884px){
    body{
        overflow-y: visible;
    }

    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;

    }

    .main-container{
        display: flex;
        flex-direction: column;

    }

    .nav-container .links{
        display: none;
    }

    .hamburg,.cancel{
        display:block;
    }

    .main-container .content{
        width: 80%;
    }

    .social-link i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .cancel{
        color: white;

    }
    .main-container .images{
        width: 80%;
        margin-bottom: 0px;

    }

}